.search {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 7px;
    margin-right: 10px;
  }

  &__submitBtn {
    border: 1px solid black;
    border-radius: 7px;
    padding: 6px 10px;
    transition: all 0.2s;

    &:hover {
      color: white;
      background-color: black;
      border: 1px solid white;
    }
  }
}
